<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <title>Meine Express-App</title>
</head>

<body>
    <h1>Hello <%= username %>!</h1>
    <p>Du hast also <%= colour %> gewählt</p>
</body>

</html>